################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LiveStreamingServer/LiveStreamingServer/Properties/launchSettings.json
/LiveStreamingServer/LiveStreamingServer/obj
/LiveStreamingServer/LiveStreamingServer/bin/Debug/netcoreapp3.1
/LiveStreamingServer/.vs/LiveStreamingServer
/.vs
